<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  1. 目的是获取子组件中的movies
  <cpn>
    <template slot-scope="slot">
      <span v-for="item in slot.movies">{{item + '-'}}</span>
<!--      TODO 不知道为啥, 我在这里使用join就不行-->
<!--      <span>{{slot.movies.join(' - ')}}</span>-->
    </template>
  </cpn>

<!--  <cpn></cpn>-->
</div>

<template id="cpn">
  <div>
    这个 :data 是随便起的，
    <slot :movies="movies">
<!--      <ul>-->
<!--        <li v-for="item in movies">{{item}}</li>-->
<!--      </ul>-->
<!--      <span>{{movies.join(' * ')}}</span>-->
    </slot>
    <slot>你好啊</slot>
  </div>

</template>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: '你好'
    },
    components: {
      cpn: {
        template: '#cpn',
        data() {
          return {
            movies: ['太极张三丰', '海王']
          }
        }
      }
    }
  })
</script>
</body>
</html>